VITE_APP_ENV="development"
VITE_APP_VERSION="0.1.0"
VITE_BUILD_SHA="replace-with-dev-git-sha"
VITE_API_BASE_URL="https://dev-api.hawkaii.in"
VITE_API_ENABLED="true"
VITE_API_MOCK_FALLBACK="false"
VITE_API_RATE_LIMIT_ENABLED="true"
VITE_API_RATE_LIMIT_MAX_REQUESTS="50"
VITE_API_RATE_LIMIT_WINDOW_MS="10000"
VITE_API_SEARCH_DEBOUNCE_MS="350"
